/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #F5F5F5;
	font: 16px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: normal;
}

h2 {
	font-size: 1em;
	text-align: center;
	margin: .2em 0 1.2em 0;
}

h3 {
	font-size: 2em;
	margin: .5em 0;
}

h4 {
	font-size: 1em;
	margin: .5em 0;
}

p {
	font-size: .875em;
}

li {
	list-style-type: none;
}

img {
	border: none;
	max-width: 100%;
  border-radius: 100px;
}

	.imgrt {
		float: right;
		padding: 5px;
	}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.sixteen {
	width: 100%;
}

.one-third, .one-fourth, .two-thirds, .three-fourths {
	float: right;
	margin: 0 10px 0 0;
}

.one-third {
	width: 31.65%;
}

.one-third img {
	border-radius: 175px;
}

.one-fourth {
	width: 23%;
}

.two-thirds {
	width: 63.3%;
	padding-left: .625em;
}

.three-fourths {
	width: 73%;
	padding-left: .625em;
}


.logo {
	width:100px;
	height:100px;
	display:block;
	border-radius:55px;
	font-size:3em;
	line-height:100px;
	text-align:center;
	background:#696969;
	margin: 0 auto;
    border: 7px double #F5F5F5;
}

	.logo:hover{
		background:#b2a8b8;
	   	transition: all .01s ease-in-out;
	}

	.sixteen .logo a, .logo a:hover, .logo a:focus {
		color: #B38A6B;
		text-decoration: none;
		display: block;
	}

nav {
	text-align: center;
	padding-bottom: 3em;
	width: 100%;
}

    nav li {
    	display: inline;
    	width: 25%;
    	float: left;
    	border-top: 2px solid #000;
	    border-bottom: 2px solid #000;
	    text-transform: uppercase;
    }

    nav li:hover, .current{
        transition: all .01s ease-in-out;
    	border-top: 2px solid #B38A6B;
	    border-bottom: 2px solid #B38A6B;
	    color: #333;
    }

    nav a {
    	text-decoration: none;
    	display: block;
    	padding: 20px 0 20px 0;
    }

footer {
	display: block;
	clear: both;
	font-size: .8em;
	float: right;
}

	footer a {
		text-decoration: none;
	}

	footer a:hover {
		text-decoration: underline;
	}

.space {
	padding-bottom: 2.5em;
}

/* #Links
================================================== */
a, a:visited {
	color: #888;
	text-decoration: none;
	outline: 0;
}

a:hover, a:focus {
	color: #000;
}

p a, p a:visited {
	line-height: inherit;
}

/* #Page Styles
================================================== */

h3.home {
	margin: 1em 0 .50em 0;
	text-transform: uppercase;
	display: block;
	font-size: 10em;
	text-align: center;
	letter-spacing: .313em;
	color: #696969;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.ribbon {
    background: #696969;
    color: #FFF;
    text-align: center;
    font: 2em 'Acme', sans-serif;
    letter-spacing: .1em;
    padding: .1em;
    margin-bottom: 1em;
    border: 2px solid #000;
}

.links li {
	padding:.5em 0;
	border-bottom: 2px solid #000;
}

    .links li a {
	   text-decoration: none;
    }

.port {
	clear: left;
	padding-top: .5em;
	display: block;
}

    .port img{
	   float: left;
	   width:200px;
	   height:200px;
	   display:block;
	   border-radius:100px;
	   margin: 0 3em 1.5em 0;
    }

    .port p {
	   padding-top: 3em;
    }


@font-face {
    font-family: 'HeydingsCommonIconsRegular';
    src: url('../font/heydings_icons-webfont.eot');
    src: url('../font/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/heydings_icons-webfont.woff') format('woff'),
         url('../font/heydings_icons-webfont.ttf') format('truetype'),
         url('../font/heydings_icons-webfont.svg#HeydingsCommonIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
	font: 1.7em HeydingsCommonIconsRegular;
}

.contact li {
	display: inline;
	padding-right: 1em;
}
/* #Media Queries
================================================== */

	/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
		.mobilecontainer {
        	padding-bottom: 364px;
        	position: relative;
        }

		.one-third, .two-thirds, .one-fourth, .three-fourths {
			width: 95%;
			margin-left: .1em;
			float: none;
		}

		.two-thirds {
			padding-left: 0;
		}

		.three-fourths {
			padding-left: 0;
		}

		.space {
			padding-bottom: 0;
		}

        nav {
        	position: absolute;
        	bottom: 0;
        }

	        nav li{
	    	  width: 100%;
	    	  height: 57px;
	    	  padding: 5px 0 0 0;
	    	  margin: 2px 0 0 0;
	    	  border-bottom: 0;
	    	}

	    	nav li:last-child, nav li:hover:last-child {
	    		border-bottom: 2px solid #000;
	    	}

	    	nav li:hover, .current{
	   		  border-bottom:0;
	    	}

	   h3.home, .ribbon {
    	    display: none;
        }

        .port img {
        	float: none;
			margin: 0 auto;
        }

            .port p {
        	   padding-top: 2em;
            }

        .contact li {
		  display: block;
		}
}
